# EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType resources/img/webp "access 1 month"
ExpiresByType resources/img/mockups/webp "access 1 month"
ExpiresByType resources/img/svg/svg "access 1 month"
ExpiresByType resources/img/logo/png "access 1 month"
ExpiresByType resources/css/css "access 1 month"
ExpiresByType js/javascript "access 1 month"
ExpiresDefault "access 2 days"
</IfModule>
## EXPIRES CACHING ##