*:focus {
	outline: none !important;
}

.cta {
	&__filled,
	&__filled:visited {
		background: $color-white;
		box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
		border-color: transparent;
		border-radius: 0 10px;
		color: $color-primary;
		transition: all 0.3s ease;

		&:hover,
		&:focus {
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
			background: $color-primary;
			color: $color-white;
			border-color: none;
		}
		&:active {
			background: $color-primary;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
			border-color: transparent;
		}
	}

	&__normal,
	&__normal:visited {
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
		border-color: $color-white;
		border-radius: 0 10px;
		color: $color-white !important;
		transition: all 0.3s ease;

		&:hover,
		&:focus {
			background: linear-gradient(to right, rgba(#d13636, 0.7), rgba(#d13636, 1), rgba(#d13636, 1));
			color: $color-white;
			border-color: transparent;
		}
		&:active {
			background: linear-gradient(to right, rgba(#d13636, 0.7), rgba(#d13636, 1), rgba(#d13636, 1));
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
			border-color: transparent;
		}
	}
}
