// ************************************************
// NAVIGATION
// ________________________________________________
// ************************************************

// ************************************************
// SECTION HEADER
// ________________________________________________
// ************************************************
.jumbotron {
	background-color: transparent !important;
}

.section-header {
	background: url("../../resources/img/bg-main.png") no-repeat;
	background-position: top;
	background-size: cover;

	// navigation *****************
	.navbar-expand-lg .navbar-nav .nav-link {
		//padding-right: 1rem;
		//padding-left: 1rem;
	}

	.navbar-light {
		& .navbar-nav {
			& .nav-link {
				color: $link-color;
				font-weight: 600;

				transition: all 0.4s;
				&:hover {
					color: $color-white;
				}

				&:focus {
					font-weight: 600;
				}
			}

			& .active > .nav-link {
				color: $color-white;
				transition: all 0.4s;
				font-weight: 600;
				&:hover {
					color: $color-white;
				}
			}
		}
	}

	.section-banner {
		&--banner-title {
			p {
				@include font-size(1.5rem);
			}
		}
	}
}

// ************************************************
// SECTION PORTFOLIO
// ________________________________________________
// ************************************************

.portfolio-backdrop {
	background: url("/resources/img/bg-main.png") no-repeat !important;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

