// ************************************************
// NAVIGATION
// ________________________________________________
// ************************************************

// ************************************************
// SECTION HEADER
// ________________________________________________
// ************************************************
.jumbotron {
	background-color: transparent !important;
}

.bg-pattern {
	background: url("../../resources/img/bg-main.webp") no-repeat;
	background-position: top;
	background-size: cover;
}

// navigation *****************

.navbar-light {
	& .navbar-nav {
		& .nav-item {
			& .nav-link {
				color: $link-color;
				font-weight: 600;

				transition: all 0.4s;
				&:hover {
					color: $color-white;
				}

				&:focus {
					font-weight: 600;
				}
			}
		}
		& .active > .nav-link {
			color: $color-secondary !important;
			transition: all 0.4s;
			font-weight: 600;
			&:hover {
				color: $color-white;
			}
		}
	}
}

.section-banner {
	&--banner-title {
		&--text {
			&__description {
				@include font-size(1.5rem);
				position: relative;
				z-index: 10;
			}

			&__description::before {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				backdrop-filter: blur(50px);
				z-index: -1;
			}
		}
	}
}

// ************************************************
// SECTION PORTFOLIO
// ________________________________________________
// ************************************************

.portfolio-backdrop {
	background: url("/resources/img/bg-main.webp") no-repeat !important;

	background-position: center;
	background-size: cover;
	overflow: hidden;
}

// ************************************************
// SECTION Contact
// ________________________________________________
// ************************************************
.send-mail {
	& a {
		border: 2px solid $color-primary;
		font-weight: 700 !important;
		text-decoration: none !important;

		&:hover {
			background-color: $color-primary;
		}
	}
}

address {
	@include font-size(1.4rem);
}